registry=http://localhost:48080/storages/storage-common-npm/npm-releases
always-auth=true
email=someuser@example.com
_password=password
username=user

; `_auth` is base64 encoded authentication token
; you can use it instead of `username` and `_password` 
;_auth = dXNlcjpwYXNzd29yZA==

