<?xml version="1.0" encoding="UTF-8"?>
<settings>
    
    <servers>
        <server>
            <id>strongbox-releases</id>
            <username>maven</username>
            <password>password</password>
        </server>
        <server>
            <id>strongbox-snapshots</id>
            <username>maven</username>
            <password>password</password>
        </server>
    </servers>
    
</settings>
